@{
    ViewData["Title"] = "产品案例";
}
<!-- page main wrapper start -->
<div class="shop-main-wrapper pt-60 pb-60">
    <div class="container">
        <div class="row">
            <!-- sidebar area start -->
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="sidebar-wrapper mt-md-60 mt-sm-60">
                    <!-- single sidebar start -->
                    <div class="sidebar-single">
                        <div class="sidebar-body">
                            <ul class="sidebar-category">
                                @{
                                    foreach (DataDictDetailInfo newsType in ViewBag.NewsTypeList)
                                    {
                                        <li>
                                            <a href="/News/Index?NewsType=@newsType.DictKey" class="@((newsType.DictKey==ViewBag.NewsType)?"active":"")">@newsType.DictValue</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar area end -->
            <!-- shop main wrapper start -->
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-product-wrapper">
                    <!-- shop product top wrap start -->
                    <div class="shop-top-bar">
                        <div class="row">
                            <div class="col-xl-5 col-lg-4 col-md-3 order-2 order-md-1">
                                <div class="top-bar-left">
                                    <div class="product-view-mode">
                                        <a class="active" href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                        <a href="#" data-target="list-view"><i class="fa fa-list"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-8 col-md-9 order-1 order-md-2">
                                <div class="top-bar-right">
                                    <div class="product-short">
                                        <p>排序 : </p>
                                        <select class="nice-select" id="sortBy">
                                            <option value="NewsDate:desc">时间降序</option>
                                            <option value="NewsDate:asc">时间升序</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shop product top wrap start -->
                    <!-- product item list start -->
                    <div class="shop-product-wrap grid-view row">
                        @{
                            foreach (NewsEntity news in ViewBag.NewsList)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- product grid item start -->
                                    <div class="product-item mb-50">
                                        <div class="product-thumb">
                                            <a href="/News/Detail/?id=@news.Id">
                                                <img src="@news.ThumbImage" class="img-responsive" width="260px" height="173px">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-name">
                                                <h4 class="h5">
                                                    <a href="/News/Detail/?id=@news.Id">@news.NewsTitle</a>
                                                </h4>
                                            </div>
                                            <div class="product-relative">
                                                <div class="product-tag product-tag-left">发布日期：@news.NewsDate.Value.ToString("yyyy-MM-dd HH:mm")</div>
                                                <div class="product-tag product-tag-right"><i class="fa fa-eye"></i>&nbsp;&nbsp;@news.ViewTimes 次浏览</div>
                                            </div>
                                            <div class="product-relative">
                                                <span class="product-tag">标签：@news.NewsTag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product grid item end -->
                                    <!-- product list item start -->
                                    <div class="product-list-item mb-30">
                                        <div class="product-thumb">
                                            <a href="/News/Detail/?id=@news.Id">
                                                <img src="@news.ThumbImage" width="260px" height="173px">
                                            </a>
                                        </div>
                                        <div class="product-content-list">
                                            <div class="product-name">
                                                <h4><a href="/News/Detail/?id=@news.Id">@news.NewsTitle</a></h4>
                                            </div>
                                            <div class="product-relative">
                                                <div class="product-tag">
                                                    发布日期：@news.NewsDate.Value.ToString("yyyy-MM-dd HH:mm") &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="fa fa-eye"></i>&nbsp;&nbsp;@news.ViewTimes 次浏览
                                                </div>
                                            </div>
                                            <div class="product-relative">
                                                <span class="product-tag">标签：@news.NewsTag</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product list item start -->
                                </div>
                            }
                        }
                    </div>
                    <!-- product item list end -->
                    <!-- start pagination area -->
                    @Html.Raw(ViewBag.Pager)
                    <!-- end pagination area -->
                </div>
            </div>
            <!-- shop main wrapper end -->
        </div>
    </div>
</div>
<!-- page main wrapper end -->

<script type="text/javascript">
    $(function () {

        // product view mode change js
        $('.product-view-mode a').on('click', function (e) {
            e.preventDefault();
            var shopProductWrap = $('.shop-product-wrap');
            var viewMode = $(this).data('target');
            $('.product-view-mode a').removeClass('active');
            $(this).addClass('active');
            shopProductWrap.removeClass('grid-view list-view').addClass(viewMode);
        })


        $("#sortBy").val("@ViewBag.SortBy");
        $('#sortBy').change(function () {
            var sort = $(this).val();
            if (sort) {
                var sortArr = sort.split(':');
                window.location.href = "/News/Index?NewsType=@ViewBag.NewsType&PageIndex=1&Sort=" + sortArr[0] + "&SortType=" + sortArr[1];
            }
        })
    });
</script>